* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

main {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(160deg, #00e5ff, #1200ff );
    background-size: cover;
    background-attachment: fixed;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

#redes-sociais{
    text-align: right;
}

#redes-sociais img {
    box-sizing: border-box;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px #00000055;
}

#redes-sociais img:hover {
    border: 2px solid #ffffff99;
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 7px #00000055;
    transition-duration: 0.25s;
}

#redes-sociais img:active {
    transform: scale(97%);
}